<div class="col">
  <h2>Multas</h2>
  <button class="btn btn-primary md-btn mg-bottom-10" (click)="add()">Adicionar</button>
  <table class="table table-striped">
    <thead>
      <tr class="d-flex">
        <th class="col-4 align-content-center">Descrição</th>
        <th class="col-4">Preço</th>
        <th class="col-4"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex" *ngFor="let tickets of traffictTickets">
        <td class="col-4">{{ tickets.description }}</td>
        <td class="col-4">{{ tickets.price }}</td>
        <td class="col-4 text-center">
          <button class="btn btn-success md-btn" (click)="update(tickets)">Editar</button>
          <button class="btn btn-danger ml-2 md-btn" (click)="delete(tickets)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
