<div class="col">

    <div class="form-group">
      <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-category')">Categoria</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-customer')">Cliente</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-model')">Modelo</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-manufacturer')">Fabricante</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-traffictTicket')">Multa</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-vehicle')">Veículo</button>
    </div>
    <div class="form-group">
        <button class="btn btn-outline-info form-control font-size-17" (click)="redirect('list-damage')">Avaria</button>
    </div>

</div>
