<div class="col">
    <h2 class="text-center">Editar empregado</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="name">Nome:</label>
          <input formControlName="name" placeholder="Nome" name="name" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="registration">Registo:</label>
        <input formControlName="registration" placeholder="Registro" name="registration" class="form-control" id="registration" required>
      </div>

      <button class="btn btn-success md-btn">Salvar</button>
      <button class="btn btn-primary ml-2 md-btn" (click)="redirect()">Cancelar</button>
    </form>
  </div>
