<div class="col">
    <h2 class="text-center">Editar veículo</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="name">Nome:</label>
          <input formControlName="name" placeholder="Nome" name="name" class="form-control" id="name" required>
      </div>

      <div class="form-group">
          <label for="license">Placa do veículo:</label>
          <input formControlName="license" placeholder="Placa do veículo" name="license" class="form-control" id="license" required>
      </div>

      <div class="dynamic-field form-select mg-bottom-10">
          <select class="form-control" formControlName="category" [(ngModel)]="selectedCategory">
              <option *ngFor="let cat of categories; let i = index;" [value]="i">
                {{cat.name}}
              </option>
          </select>
      </div>

      <div class="dynamic-field form-select mg-bottom-10">
          <select class="form-control" formControlName="model" [(ngModel)]="selectedModel">
              <option *ngFor="let model of models let i = index;" [value]="i">
                {{model.name}}
              </option>
          </select>
      </div>

      <div class="dynamic-field form-select mg-bottom-10">
          <select class="form-control" formControlName="make" [(ngModel)]="selectedManufacturer">
              <option *ngFor="let make of manufacturers let i = index;" [value]="i">
                {{make.name}}
              </option>
          </select>
      </div>

      <button class="btn btn-success md-btn mg-top-10">Salvar</button>
      <button class="btn btn-primary md-btn ml-2 mg-top-10" (click)="redirect()">Cancelar</button>
    </form>
  </div>
