<div class="col">
    <h2 class="text-center">Editar Cliente</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="name">Descrição:</label>
          <input formControlName="name" placeholder="Nome" name="name" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="document">Preço:</label>
        <input formControlName="document" placeholder="Documento" name="pric" class="form-control" id="document" required>
      </div>

      <button class="btn btn-success md-btn">Salvar</button>
      <button class="btn btn-primary ml-2 md-btn" (click)="redirect()">Cancelar</button>
    </form>
  </div>
